body {
  margin: 0;
  padding: 0;
  background-color: #e7ebed;
}

section.index_img {
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url("../img/penguin.jpg");
  background-size: cover;
  background-position: center center;
}

p.catch {
  margin: 0;
  padding-top: 50px;
  padding-left: 70px;
  font-size: 30px;
  color: #fff;
  text-shadow: 5px 5px 5px #000000ac;
}

p.desc {
  margin: 0;
  padding-top: 20px;
  padding-left: 70px;
  font-size: 20px;
  color: #fff;
  text-shadow: 5px 5px 5px #000000ac;
}
